<div class="global">
    <h1> FAQ </h1>

        <a class="add" href="/FAQ/create">Add new Question</a>

    {{#if hasDatabaseError}}
        <p>Could not find the FAQ's right now, please try agian later</p>
    {{else}}

        {{#if faqs.length}}

            {{#each faqs}}
                <article>
                    <h2>{{question}}</h2>
                    <p>{{answer}}</p>
                    <a href="/FAQ/{{id}}">Edit</a>
                </article>
            {{/each}}

        {{else}}    
            <p>There are no questions! FAQ fel</p>
        {{/if}}

    {{/if}}
</div>