<div class="main-layout">
    <h1> FAQ </h1>
    {{#if session.isLoggedIn}}
        <a class="add" href="/FAQ/create">Add new Question</a>
    {{/if}}
    {{#if hasDatabaseError}}
        <p>Could not find the FAQ's right now, please try agian later</p>
    {{else}}

        {{#if faqs.length}}

            {{#each faqs}}
                <article>
                    <h2>{{question}}</h2>
                    <p>{{answer}}</p>
                    <a href="/FAQ/{{id}}">Read more</a>
                </article>
            {{/each}}

        {{else}}    
            <p>There are no questions!</p>
        {{/if}}

    {{/if}}
</div>