{{#if faq}}
    <h1>{{faq.question}}</h1>
    <p>{{faq.answer}}</p>
    {{#if session.isLoggedIn)}}
        <a href="/FAQ/{{faq.id}}/update">Update</a>
        <a href="/FAQ/{{faq.id}}/delete">Delete</a>
    {{/if}}

{{else}}
    <h1>Not Found</h1>
    <p>The faq does not exist.</p>
{{/if}}