<h1>Update Product</h1>

{{#if errors.length}}
<p>Couldn't update the product because:</p>
<ul class="error-list">
    {{#each errors}}
        <li>{{this}}</li>
    {{/each}}
</ul>
{{/if}}

<form action="/products/{{product.id}}/update" method="post">
    <input type="hidden" name="_csrf" value={{csrfToken}}>
    <div>
        Name: <input type="text" name="name" value="{{product.name}}">
    </div>
    <div>
        <h4>Description: </h4>
        <textarea name="description" class="products-textarea" rows="5" cols="30">{{product.description}}</textarea>
    </div>
    <div>
        <input type="submit" value="update">
    </div>
</form>