<h1>Update FAQ</h1>

{{#if errors.length}}
<p>Couldn't update the question because:</p>
<ul class="error-list">
    {{#each errors}}
        <li>{{this}}</li>
    {{/each}}
</ul>
{{/if}}

<form action="/FAQ/{{faq.id}}/update" method="post">
    <input type="hidden" name="_csrf" value={{csrfToken}}>
    <div>
        Question: <input type="text" name="question" value="{{faq.question}}">
    </div>
    <div>
        <h4>Answer: </h4>
        <textarea name="answer" class="faq-textarea" rows="5" cols="30">{{faq.answer}}</textarea>
    </div>
    <div>
        <input type="submit" value="update">
    </div>
</form>